.w-fit {
    width: fit-content;
}
body {
    background-color: #f7ecde;
}
/* ::selection {
    background-color: #fec260;
    color: #352e28;
} */


.title {
    font-family: "Pacifico", cursive;
    color: #352e28;
    position: relative;
}
.title::before {
   content: "";
   position: absolute;
   width: 16%; 
   height: 27%;
   bottom: 10%;
   left: 42%;
   background-color: #fec260;
   display: block;
   z-index: -1;
}

.box {
    border-width: 2px 0 2px 0;
    border-style: dotted;
    border-color: #352e28;
}
div h2 {
    font-family: "Righteous", cursive;
    font-size: 25px;
    background-image: linear-gradient(to right, #3ca55c, #b5ac49);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

label {
  font-size: 17px;
  font-family: "Righteous", cursive;
}


.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #d99c39;
    outline: 0;
    box-shadow: 0 0 0 0.25rem #fec26055;
}

.btn-submit {
    background-color: #d1512d;
    color: white;
}
.btn-submit:hover {
    background-color: #bb4120;
    color: white;
}

.btn-visit {
    background-color:  #9eb23b;
    color: white;
}
.btn-visit:hover {
    background-color: #8a9e23;
    color: white;

}

.btn-delete {
    background-color:  #d1512d;
    color: white;
}
.btn-delete:hover {
    background-color: #bb4120;
    color: white;
}


  